/* Make the counter bold and position it to the right of the button */
#count {
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
  }
  
  /* Logo styling */
  #logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
  }
  